<div fxFill fxLayout="column" fxLayoutAlign="center center">
  <mat-card
    class="user-card"
    fxLayout="column"
    fxLayoutAlign="center center"
    [formGroup]="form"
  >
    <mat-form-field appearance="outline" style="width: 100%;" >
      <mat-label>Name</mat-label>
      <input matInput [formControl]="$any(form.controls.name)" />
      <mat-error *ngIf="form.controls.name.errors?.required">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;" >
      <mat-label>Email</mat-label>
      <input matInput [formControl]="$any(form.controls.email)" />
      <mat-error *ngIf="form.controls.email.errors?.required">
        Email is required.
      </mat-error>
      <mat-error *ngIf="form.controls.email.errors?.email">
        Invalid email address.
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field appearance="outline">
        <mat-label>Street</mat-label>
        <input matInput [formControl]="$any(form.controls.street)" />
        <mat-error *ngIf="form.controls.street.errors?.required">
          Name is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;" >
        <mat-label>Suite</mat-label>
        <input matInput [formControl]="$any(form.controls.suite)" />
        <mat-error *ngIf="form.controls.suite.errors?.required">
          Suite is required.
        </mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <input matInput [formControl]="$any(form.controls.city)" />
        <mat-error *ngIf="form.controls.city.errors?.required">
          City is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;" >
        <mat-label>Zipcode</mat-label>
        <input matInput [formControl]="$any(form.controls.zipcode)" />
        <mat-error *ngIf="form.controls.zipcode.errors?.required">
          Zipcode is required.
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" style="width: 100%;" >
      <mat-label>Phone number</mat-label>
      <input matInput [formControl]="$any(form.controls.phone)" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;" >
      <mat-label>Website</mat-label>
      <input matInput [formControl]="$any(form.controls.website)" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;" >
      <mat-label>Company name</mat-label>
      <input matInput [formControl]="$any(form.controls.company)" />
    </mat-form-field>

    <mat-card-actions style="text-align: center">
      <button mat-flat-button color="primary" style="margin-right: 15px" (click)="saveClicked()">
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</div>
