<div fxLayout="column" fxLayoutAlign="center center" fxFill>
  <mat-card class="welcome-card">
    <mat-card-header>
      <mat-card-title>Welcome to Angular Test App</mat-card-title>
    </mat-card-header>
    <mat-card-actions style="text-align: center;">
      <button mat-flat-button color="primary" [routerLink]="'/user/detail'" style="margin-right: 15px;">Register User</button>
      <button mat-flat-button color="primary" [routerLink]="'/user/list'">View Users</button>
    </mat-card-actions>
  </mat-card>
</div>
